.word-size {
	font-weight: bold;
	font-size: 15px;
}

label {
	margin-left: 8px;
}

.switchBtn {
	margin-left: 0;
	margin-right: 0;
}

.links {
	text-decoration: none;
}

.eco-green {
	background-color: #00b300;
}

/* Shift this to flight details */
.timeline_circles {
    display: flex;
    padding-top: 0.375rem;
    padding-right: 1.125rem;
    padding-bottom: 0.375rem;
    flex-direction: column;
    justify-content: space-between;
}

.timeline_circles:after, .timeline_circles:before {
    content: "";
    display: block;
    z-index: 2;
    width: 0.625rem;
    height: 0.625rem;
    border: 0.125rem solid #b2b2bf;
    border-radius: 100%;
    background: #fff;
}

.timeline_track {
    position: relative;
    left: 0.25rem;
    display: flex;
    flex-grow: 1;
}

.timeline_track:after {
    position: relative;
    content: "";
    width: 0.125rem;
    background-color: #b2b2bf;
}