/*
    Name: Ng Jun Han
    Admin: 2008493
    Class: DISM/FT/2B/21
*/

#call-to-action {
	/* background-image: url(https://i.picsum.photos/id/10/1920/1000.jpg?hmac=-jg2dowz0cZxPCHXmqRArbSzutk1LqYD4zRqA6zeRgo); */
	z-index: 1;
}

#introBG {
	padding: 30px;
	background: #fff;
	z-index: 2;
	border-radius: 10px;
}

#flightInput {
	padding: 30px;
	background: #f6f6f6;
	z-index: 2;
	border-radius: 10px;
}

.word-size {
	font-weight: bold;
	font-size: 15px;
}

label {
	margin-left: 8px;
}

.switchBtn {
	margin-left: 0;
	margin-right: 0;
}