/*
    Name: Ng Jun Han
    Admin: 2008493
    Class: DISM/FT/2B/21
*/

body {
	font-family: 'Albert Sans', sans-serif;
}

.form-control {
	box-shadow: none;		
	font-weight: normal;
	font-size: 13px;
}

.errorFont {
	font-size: 15px
}

/* Navbar CSS */

.navbar {
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 2px solid #dfe3e8;
	border-radius: 0;
}

.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}

.navbar .navbar-brand {
	padding-left: 0;
	font-size: 20px;
	padding-right: 50px;
}

.navbar .navbar-brand i {
	padding-right: 15px;
	padding-left: 10px;
}

.navbar .navbar-brand b {
	/* color: #33cabb;	 */
	color: #ff160c;
}

.navbar a {
	color: #888;
	font-size: 15px;
}

.nav-item span i{
	color: #888;
	font-size: 20px;
}

/* End of Navbar CSS */

/* Search Box CSS */

.search-box {
	position: relative;
}	

.search-box input {
	padding-right: 35px;
	border-color: #dfe3e8;
	border-radius: 4px !important;
	box-shadow: none
}

.search-box .input-group-text {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 7px;
	height: 100%;
}

.search-box i {
	color: #a0a5b1;
	font-size: 19px;
}

/* End of Search Box CSS */

/* Remove after login and sign html are completed */
/* 
	Or seperator
	Might be useful in the future
*/
.or-seperator {
	margin-top: 32px;
	text-align: center;
	border-top: 1px solid #e0e0e0;
}

.or-seperator b {
	color: #666;
	padding: 0 8px;
	width: 30px;
	height: 30px;
	font-size: 13px;
	text-align: center;
	line-height: 26px;
	background: #fff;
	display: inline-block;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	position: relative;
	top: -15px;
	z-index: 1;
}

/* Remove after login and sign html are completed */